body {
    background-color: $white;
}

body:not(.home) header#masthead {
    border-bottom-width: 0px !important;
    border-bottom-color: transparent !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

// Footer style updates
footer {
    margin-top: auto;

    .footer_social_links {
        display: none; // Hide social links for now
    }
}