// Nav Updates
.navbar-default .navbar-collapse {
    background-color: $blue;

    .header_site_title {
        color: $white;
    }

    .navbar-nav>li>a, .header-search i {
        color: $white;
    }

}

.slider {
    display: none; // Hide the slider for now
}

// G Translate Updates
.menu-item-gtranslate a span {
    font-size:14px !important;
}

// Search Updates
.search-form input#searchsubmit {
    background: $blue !important;
}
// Light Dark Mode Updates
// .wp-dark-mode-floating-switch {
//     right: 20px !important;
// }